@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: white;
  --secondary-color: #4834d4;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #ecf0f1;
  font-family: "Roboto", sans-serif;
}
